{
  "parser": "babel-eslint",
  "extends": [
    "react-app", 
    "airbnb"
  ],
  "env": {
    "es6": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-console": 0,
    "semi": 0,
    "no-unused-vars": 1
  }
}