section#intro {
  color: #fff;
  text-align: left;
  margin-bottom: 50px;
}

section#intro h1.title {
  font-size: 120px;
  line-height: 0;
}

section#intro p.subtitle {
  font-size: 34px;
}

section#intro p.info {
  font-size: 18px;
}

section#intro p.credits {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

section#intro p.credits i {
  font-size: 12px;
}

section#intro p.credits br {
  line-height: 20px;
}

@media only screen and (max-width: 64em) {

  section#intro p.credits {
    position: inherit;
    margin-top: 50px;
  }

}

@media only screen and (max-width: 48em){

  section#intro {
    text-align: center;
  }

  section#intro h1.title {
    font-size: 90px;
  }
  
  section#intro p.subtitle {
    font-size: 28px;
  }
  
  section#intro p.info {
    font-size: 14px;
  }

}